<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hlamm.bkolsberg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayHelpActivity"
            android:label="@string/help_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayAlleBildungsgaenge"
            android:label="@string/bildungsgaenge_title"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DisplayBildungsgangActivity" />
        <activity
            android:name=".DisplayFavoritesActivity"
            android:label="@string/favorites_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayAbfrageActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>